<!DOCTYPE html>
<html>
<head>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/Module.js"></script>
    <script src="../Scripts/Service.js"></script>
    <script src="../Scripts/Controllers/MovieDetailsController.js"></script>
    <script src="../Scripts/Controllers/MoviesListController.js"></script>
    <link rel="stylesheet/less" type="text/css" href="../Styles/main.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="utf-8" />
    <title></title>
</head>
<body data-ng-app="APIModule">
  <ng-view></ng-view>
</body>
</html>





