

<div class="moviesWrap  mx-auto m-4 col-lg-6 col-12">
    <a href="#!/home">Home</a>
    <div class="mx-auto mb-4">
        <img alt="{{currentMovie.Title}}" ng-src="/Images/{{currentMovie.Image}}" />
    </div>

    <div class="col-md-10 col-8">

        
        <h1>{{currentMovie.Title}}</h1>
   

        <div> <label for="Seasons">Seasons:</label> {{currentMovie.Season}}</div>

    <div>
        <label for="Views">Views:</label> {{currentMovie.Views}}
    </div>
    <div class="mt-4">
        <label for="details">details:</label>{{currentMovie.Description}}
</div>
</div>
</div>